@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  height: 100%;
}

#root {
  height: 100vh;
}

.contentContainer {
  margin: 20px;
  background-color: #e9e9e9;
  max-width: 1080px;
}

.mainContent {
  background-color: white;
  height: 100%;
  margin: auto;
}

.radio {
  display: flex;
  flex-wrap: wrap;
}

.kgPicker {
  display: flex;
  flex-wrap: wrap;
}

.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio__input {
  display: none;
}

.radio__input__disabled {
  display: none;
}

.radio__label {
  margin: 5px;
  background-color: #d1cec5;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s;
}

.radio__label__disabled {
  margin: 5px;
  background-color: #CFCFCF;
  color: #787878;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s;
}

.square {
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: block;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio__input:checked + .radio__label {
  background-color: #241c1c;
  font-weight: bold;
  color: white;
}

.textinput {
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  border: none;
  background-color: #e9e9e9;
  width: 170px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.important_button {
  border: none;
  background-color: #241c1c;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  width: 200px;
}

.standart_button {
  border: none;
  background-color: #D1CEC5;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  width: 200px;
}

.login_content_background {
  background-color: #222;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
}

.login_content_text {
  color: white;
  font-size: 16px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  justify-content: start;
}

.login_line_one {
  font-size: x-large;
}

.login_line_two {
  font-size: xx-large;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form {
  padding: 20px;
}

.login_page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.linkButton {
  border: none;
  background-color: inherit;
  text-decoration: underline;
}

.linkButton:hover {
  font-weight: bold;
}

.imageTextCard {
  border-radius: 20px;
  width: 150px;
  height: 170px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

.imageTextCard-Image {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageTextCard-Text {
  background-color: #D1CEC5;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.furtherActionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 340px;
}

.recentlyUsedContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.appDescription {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
}

.textContainer {
  max-width: 400px;
}

.die {
  border: solid 1px;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #D1CEC5;
}


.diceSet {
  flex-wrap: wrap;
  max-width: 310px;
}


.searchBar {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 5px;
  align-items: center;
  margin: 20px;
  background-color: white;
}

.searchBarTextInput {
  border: none
}

.searchBarTextInput:focus {
  outline: none
}

.appList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 340px;
  margin: 10px;
}

.failText {
  color: red;
  font-weight: bold;
}

.successText {
  color: green;
  font-weight: bold;
}

@media (min-width: 300px) {
  .radio {
    max-width: 250px;
  }
  .kgPicker {
    max-width: 300px;
  }
}

@media (min-width: 600px) {
  .kgPicker {
    max-width: 400px;
  }
}

@media (min-width: 700px) {
  .radio {
    max-width: 600px;
  }
  .login_page {
    flex-direction: row;
  }
  .login_content_background {
    flex-grow: 1;
    max-width: 60%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  .login_content_text {
    max-width: 80%;
    font-size: 18px;
  }
  .login_form_container {
    flex-grow: 2;
  }
  .furtherActionsContainer {
    max-width: fit-content;
  }
  .appDescription {
    max-width: 500px;
  }
  .textContainer {
    max-width: 500px;
  }
  .appList {
    max-width: 510px;
  }
  .diceSet {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .kgPicker {
    max-width: 600px;
  }
  .login_content_background {
    max-width: 60%;
  }
  .login_content_text {
    max-width: 70%;
    font-size: 20px;
  }
  .appList {
    max-width: 680px;
  }
}
